.locationHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px;

    text-align: center;
}

.locationName {
    margin: 0 0 10px 0;

    font-weight: bold;
    font-size: large;
}

.coordinates {
}

.forecastLocationButton {
    margin: 10px 0;
}

.imageContainer{
    display: none;
}

@media (min-width: 700px) {
    .locationHeader {
        flex-direction: column;
        justify-content: start;
    }

    .imageContainer{
        display: flex;
        justify-content: center;

        width: auto;
        height: auto;

        padding-bottom: 5px;

        overflow: hidden;
    }

    .image {
        display: inherit;
        width: 100%;
    }
}